button {
  cursor: pointer; 
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #212529;
}
.header button {
  background-color: transparent;
  border: none;
}
.header button.home {
  font-size: 19px;
  padding-left: 10px;
}
.header form {
  margin: 7px 7px 7px 0;
}
.header input {
  padding: 9px 15px;
  border-radius: 0.25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  border: 1px solid #4b4b4b;
  border-radius: 5px;
}
.header button.all {
  padding: 0 20px;
  height: 100%;
}
.card-place {
  display: flex;
  padding-bottom: 15px;
}
.img {
  width: 150px;
  height: 150px;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 340px));
}
@media screen and (min-width: 980px) {
  .container {
    margin: 0% 8%;
   }
}
@media screen and (max-width: 979px) {
  .container {
    margin: 0% 15%;
   }
}
.text-description {
  margin-left: 5%;
  width: 100%;
}
.card-place .description_button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-radius: 4px;
  padding: 3% 4%;
  border: none;
  background-color: #6c757d;
  color: #e2e2e2;
}

/* light */
body .light {
  background-color: #e2e2e2;
  color: rgb(0, 0, 0);
}
.light .header {
  color: #e2e2e2;
}
.light .header input {
  background-color: #e2e2e2;
}

/* dark */
body .dark {
  background-color: #141414;
  color: #acacac;
}
.dark .header input {
  background-color: #141414;
}
